a {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(149, 118, 179);
    color: white;
    font-family: Helvetica;
    border-radius: 40px;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header__item:hover {
    background-color: white;
    border-radius: 20px;
}

.header__item a{
    font-family:  Roboto, sans-serif;
    color: purple;
}

.box {
    background:url(../img/Spider-Man3.jpg);
    height: 165vh;
    padding: 30px;
}

.container {
    width: 1300px;
    height: 0 auto;
    margin: 0 auto;
}



/* .qwertyuiop {
    width: 1920px;
    height: 604px;
    left: 0px;
    top: 249px;
    background: url(Group.png), #000000;
} */

h2 {
    font-family: Impact, fantasy;
    padding: 55px;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: white;
}

p {
    font-family:  Roboto, sans-serif;
    padding: 60px;
    font-size: 16px;
    line-height: 26px;
    color: white;
    width: 540px;
    height: 67px;
    left: 100px;
    top: 270px;
    position: absolute;
}


.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 10%;
    margin: auto;
    text-align: center;
    font-family: arial;
}









/* .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; */
